<div class="card mt-3">
    <div class="card-header">
      <h2><marquee> Welcome to Child Component</marquee></h2>
    </div>
    <div class="card-body">
      
      <table class="table table-hover table-bordered">
        <thead class="bg-dark">
          <tr>
            <th class="text-white">Name</th>
            <th class="text-white">Email</th>
            <th class="text-white">Age</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listEmploye">
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.age}}</td>
         
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <input type="text" class="form-control" #name />
  <br />
  <button class="btn btn-success" (click)="addItem(name.value)">
    Change Parent Title
  </button>
  
