<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="depForm" (ngSubmit)="SaveData(); depForm.reset();">
      <input type="hidden" name="departmentId" formControlName="departmentId">
      <div class="mb-3">
        <label>Department Name:</label>
        <div class="input-group">
          <input type="text" name="departmentName" formControlName="departmentName" class="form-control" placeholder="Enter department name">
        </div>
        <span *ngIf="departmentName && departmentName.touched && departmentName.invalid" class="error">Please Enter Valid Name</span>
        <div class="input-group">
          <input type="submit"  value="Save" class="btn btn-primary mt-3" >
        </div>
        <span [ngClass]="errorClass">{{errorMessage}}</span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<button class="btn  btn-primary" (click)="open()">Add </button>

