
  
  
  <div class="container">   
   <div class="row mt-5">
    <br>
    <h3>
      Hi , Welcome {{title}}
     </h3>
     <br>
     <hr>
     <br>    
     
      <div class="col-10 col-sm-6 col-md-6">
          <p style="color: darkblue ; font-weight: bold; font-size: 50px;">Employe Informations</p>
          <label>Employe Name</label>
          <input type="text" #name class="form-control" >
          <label>Employe Email</label>
          <input type="text" #email class="form-control" >
          <label>Employe Age</label>
          <input type="text" #age class="form-control" >
          <br>
          <button class="btn btn-primary mb-3"        
          (click)="PassParentData(name.value,email.value,age.value)"
          >Add Employe</button>&nbsp;<br>
        <span>{{response}}</span>
         
       
      </div>
      <div class="col-md-6 col-md-4">
        <app-employe [objData]="inputObj" ></app-employe>
   
      </div>
    
  </div>
</div>
     
     
    
  
  
  





