  
  <div class="container">   
   <div class="row mt-5">
    <br>
    <h3>
      Hi , Welcome {{title}}
     </h3>
     <li>
    <a routerLink="">Home</a>&nbsp;
     <a routerLink="About">About</a>&nbsp;
     <a routerLink="Contact">Contact</a>&nbsp;
     <a routerLink="Employee">Employee</a>
     </li>
     <br>
     <hr>
     <br>    
     
      <div class="col-10 col-sm-6 col-md-6">
          <p style="color: darkblue ; font-weight: bold; font-size: 50px;">Employe Informations</p>
          <label>Employe Name</label>
          <input type="text" #name class="form-control" >
          <label>Employe Email</label>
          <input type="text" #email class="form-control" >
          <label>Employe Age</label>
          <input type="text" #age class="form-control" >
          <br>
          <button class="btn btn-primary mb-3"        
          (click)="PassParentData(name.value,email.value,age.value)"
          >Add Employe</button>&nbsp;<br>
        <span>{{response}}</span>
        <h3>Admin</h3>
        <ul>
          <li><a routerLink="admin/List">Admin List</a></li>
          <li><a routerLink="admin/Login">Admin Login</a></li>
          
        </ul>
        <h3>User</h3>
         <ul>
          <li><a routerLink="user/List">User List</a></li>
          <li><a routerLink="user/Login">User Login</a></li>
          
         </ul>
       
      </div>
      <div class="col-md-6 col-md-4">
        <app-employe [objData]="inputObj" (databackOutput)="changeTitle($event)"></app-employe>
   
      </div>
    
      <router-outlet></router-outlet>
  </div>
</div>
     
     
  
  
  





