
  
  
  <div class="container">   
   <div class="row mt-5">
    <br>
    <h3>
      Hi , Welcome {{title}}
     </h3>
     <br>
     <hr>
     <br>    
     
      <div class="col-10 col-sm-6 col-md-6">
          <p style="color: darkblue ; font-weight: bold;"> Add new Server and Blue Print Server</p>
          <label>Server Name</label>
          <input type="text" #name class="form-control" >
          <label>Server Content</label>
          <input type="text" #servername class="form-control" >
          <br>
          <button class="btn btn-primary mb-3"
         
          
          >Add Sever</button>&nbsp;<br>

         
       
      </div>
      <div class="col-md-6 col-md-4">

   
      </div>
    
  </div>
</div>
     
     
    
  
  
  





