<div class="container">
  <div class="row text-end">

    <div class="col-xl-12 mt-3  ">
      <a
      routerLink="/student" color="primary"
      mat-raised-button

      ><mat-icon>chevron_left</mat-icon>Go Back</a>

    </div>
  </div>
    <div class="row">
      <div class="col-xs-6">
        <form #StudentForm="ngForm">
        <div class="row">
          <div class="col-xs-12 mt-4">
            <mat-form-field appearance="outline">
              <mat-label>Student Name</mat-label>
              <input type="text" matInput [(ngModel)]="studentData.studentName" name="studentName">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>Student Email</mat-label>
              <input type="text" matInput [(ngModel)]="studentData.studentEmail" name="studentEmail">
            </mat-form-field>

          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Student Contact</mat-label>
              <input type="text" matInput [(ngModel)]="studentData.studentContact" name="studentContact">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>Student Gender</mat-label>
              <mat-select [(ngModel)] = "studentData.gender.genderId" name="gender">
                <mat-option *ngFor="let item of genderList" [value]="item.genderId">
                  {{item.genderName}}
                </mat-option>

              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Physical Address</mat-label>
              <textarea matInput [(ngModel)] = "studentData.address.physicalAddress" name="physicalAddress"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Postal Address</mat-label>
              <textarea matInput [(ngModel)]="studentData.address.postalAddress" name="postalAddress" ></textarea>
            </mat-form-field><br>
            <button (click)="UpdateStudent()" class="mb-3" mat-raised-button color="primary" routerLink="/student">Submit</button>&nbsp;
            <button (click)="DeleteStudent()" class="mb-3" mat-raised-button color="warn" routerLink="/student">Delete</button>
          </div>
        </div>
      </form>
      </div>
      <div class="col-xs-6">
        <!-- Display Image -->
      </div>

    </div>



</div>
