<div class="container">
  <div class="row">

    <div class="col-xl-6 mt-3">
      <a
      routerLink="/student" color="primary"
      mat-raised-button

      ><mat-icon>chevron_left</mat-icon>Go Back</a>

    </div>

    <div class="row">
      <div class="col-xs-6">
        <form #StudentForm="ngForm"></form>
        <div class="row">
          <div class="col-xs-12 mt-4">
            <mat-form-field appearance="outline">
              <mat-label>Student Name</mat-label>
              <input type="text" matInput [(ngModel)]="studentData.studentName">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>Student Email</mat-label>
              <input type="text" matInput [(ngModel)]="studentData.studentEmail">
            </mat-form-field>

          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Student Contact</mat-label>
              <input type="text" matInput [(ngModel)]="studentData.studentContact">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>Student Gender</mat-label>
              <mat-select [(ngModel)] = "studentData.gender.genderId">
                <mat-option *ngFor="let item of genderList" value="Gender.genderId">
                  {{item.genderName}}
                </mat-option>

              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Physical Address</mat-label>
              <textarea matInput [(ngModel)] = "studentData.address.physicalAddress"></textarea>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Postal Address</mat-label>
              <textarea matInput [(ngModel)]="studentData.address.postalAddress" ></textarea>
            </mat-form-field>
          </div>
        </div>

      </div>
      <div class="col-xs-6">
        <!-- Display Image -->
      </div>
    </div>


  </div>
</div>
