<div class="container">

</div>
<div class="container"><br>
  <div class="row mt-2">
    <h1 class="text-center">List Of Students</h1>
  </div>
  <a routerLink="/student/Add" type="button" class="btn btn-primary mt-3 mb-3"> Add Student</a>

<div >
  <table id="table_id" class="table table-reponsive table-striped table-border" datatable [dtOptions]="dtOptions">
    <thead class="">
      <tr>
        <th class="">Id</th>
        <th class="">Name</th>
        <th class="">Email</th>
        <th class="">Contact</th>
        <th class="">Gender</th>
        <th class="">Department</th>
        <th class="">Country</th>
        <th class="">Date</th>
        <th class="">Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getstudents ; let i =index">
        <th>{{item.studentId}}</th>
        <th>{{item.studentName}}</th>
        <th>{{item.studentEmail}}</th>
        <th>{{item.studentContact}}</th>
        <th>{{item.gender.genderName}}</th>
        <th>{{item.department.departmentName}}</th>
        <th>{{item.country.countryName}}</th>
        <th>{{item.date}}</th>
        <th>
          <a class="btn btn-primary me-2"
          (click)="Edit(item.studentId)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </a>
          <a class="btn btn-danger"
          (click)="DeleteStudent(item.studentId)"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
          </a>

        </th>
      </tr>

    </tbody>
  </table><br><br>
</div>


</div>
